body{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
}

.menu{
    max-width: 1128px;
    float: right;
}

a {
    color: #00ccff;
    font-size: 12px;
    //Retire o estilo de hyperlink de todos os elementos.
    //Determine que ao passar o mouse os hyperlinks tenham sua decoração alterada para underline
}

a:link{
	text-decoration: none
}

a:visited {
    text-decoration: underline;
}

p{
    font-size: 20px;
}

img{
    max-width: 100%;
}

.cabecalho{
    width: 100%;
    height: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo{
    float: left;
}

.banner{
    height: 450px;
    margin-bottom: 35px;
    position: relative;
}

.box{
    width: 42.5px;
    position: absolute;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: rgba(0, 0, 0, 0.5);

}

h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 200;
    color: #fff;
}

.rodape{
    width: 100%;
    margin-bottom: 30px;
    float: left;
    font-size: 30px;
}

